:root {
    /*Font Weights*/
    --fw-regular: 500;
    --fw-medium: 700;
    --fw-bold: 900;

    /*Primary Colors*/
    --blue-1: hsl(225, 100%, 94%);
    --blue-3: hsl(245, 75%, 52%);

    /*Neutrals*/
    --blue-0: hsl(225, 100%, 98%);
    --blue-2: hsl(224, 23%, 55%);
    --blue-4: hsl(223, 47%, 23%);
}

html {    
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;

    text-align: center;

    background-color: var(--blue-1);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 325px;

    background-color: #fff;

    border-radius: 1.25rem;
    box-shadow: 0px 20px 20px hsla(245, 75%, 52%, 0.1);
}

.hero-img {
    width: inherit;
    border-radius: 1.25rem 1.25rem 0 0;
}

h1, p {
    color: var(--blue-4);
    font-weight: var(--fw-regular);
}

h1 {
    font-size: 1.35rem;
    font-weight: var(--fw-bold);

    margin-top: 2rem;
}

.description {
    color: var(--blue-2);
    
    margin: auto 1.5rem 1.5rem;

    line-height: 1.75rem;
}

.plan {
    width: 280px;
    height: 80px;
    margin: 1.5rem auto;
    background-color: var(--blue-0);
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between; /*Take note. Icon and plan are closer to each other than the "Change" link*/
}

.cost {
    margin-left: -2rem;
}

.plan p {
    color: var(--blue-2);
    line-height: 0.5rem;
}

span {
    color: var(--blue-4);
    font-weight: var(--fw-bold);
}

a {
    font-size: 0.8rem;
    font-weight: var(--fw-bold);
    margin-right: 1rem;
}

.icon {
    margin-left: 1rem;
}

button {
    width: 280px;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 12px;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.95rem;
    font-weight: var(--fw-bold);
}

.pay {
    background-color: var(--blue-3);
    color: var(--blue-0);

    box-shadow: 5px 15px 15px hsla(245, 75%, 52%, 0.2);
}

.cancel {
    background: none;
    color: var(--blue-2);
}

/*Media query for desktop*/
@media (min-width: 450px) {
    html {
        background-image: url(./images/pattern-background-desktop.svg);
    }

    .card {
        width: min-content;
    }

    .description {
        width: 70%;
        margin: auto;
    }

    .cost {
        margin-left: -6rem;
    }

    .plan, button {
        width: 80%;
    }
}

/*Hover states*/
a:hover {
    text-decoration: none;
    color: hsl(245, 83%, 68%);
}

.pay:hover {
    background-color: hsl(245, 83%, 68%);
}

.cancel:hover {
    color: var(--blue-4);
}