:root {
    /*Font Weights*/
    --fw-regular: 500;
    --fw-medium: 700;
    --fw-bold: 900;

    /*Primary Colors*/
    --blue-1: hsl(225, 100%, 94%);
    --blue-3: hsl(245, 75%, 52%);

    /*Neutrals*/
    --blue-0: hsl(225, 100%, 98%);
    --blue-2: hsl(224, 23%, 55%);
    --blue-4: hsl(223, 47%, 23%);
}

html {    
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;

    text-align: center;

    background-color: var(--blue-1);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 325px;

    background-color: #fff;
    /*border: 1px solid red;*/
    border-radius: 1.25rem;

}

.hero-img {
    width: 325px;
    border-radius: 1.25rem 1.25rem 0 0;
}

h1, p {
    color: var(--blue-4);
    font-weight: var(--fw-regular);
}

h1 {
    font-size: 1.35rem;
    font-weight: var(--fw-bold);

    margin-top: 2rem;
}

.description {
    color: var(--blue-2);
    
    margin: auto 1.5rem 1.5rem;

    line-height: 1.75rem;
}

.plan {
    width: 280px;
    height: 80px;
    margin: 1.5rem auto;
    background-color: var(--blue-0);
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between; /*Take note. Icon and plan are closer to each other than the "Change" link*/
}

button {
    width: 280px;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 12px;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.85rem;
    font-weight: var(--fw-medium);
}

.pay {
    background-color: var(--blue-3);
    color: var(--blue-0);

    box-shadow: 1px 10px 5px var(--blue-1);
}